<div>
    <h2>사용자 목록</h2>
</div>

<div>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active"><a href="#users">사용자 목록 (<span data-role="bind" data-name="numOfRows">{{numOfRows}}</span>)</a></li>
    </ol>
</div>

<table class="table table-bordered table-hover list">
    <thead>
    <tr>
        <th>이름</th>
        <th>성별</th>
        <th>나이</th>
        <th>국적</th>
        <th>회사</th>
        <th>이메일</th>
        <th>가입일</th>
        <th>전화번호</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="row">
    <div class="col-md-4">
        <button class="btn btn-default" data-action="refresh">새로고침</button>
    </div>
    <div class="col-md-8 pager-container text-right"></div>
</div>