<td data-role="bind" data-name="name"></td>
<td data-role="bind" data-name="gender"></td>
<td data-role="bind" data-name="age"></td>
<td data-role="bind" data-name="country"></td>
<td data-role="bind" data-name="company"></td>
<td data-role="bind" data-name="email"></td>
<td data-role="bind" data-name="joindate"></td>
<td data-role="bind" data-name="phone"></td>