<div class="modal-overlay"></div>
<div class="modal-box">
<!--<div class="modal-box sticky">-->
<!--<div class="modal-box slidein">-->
<!--<div class="modal-box slideup">-->
<!--<div class="modal-box scale">-->
  <h1>modal view</h1>
  <p data-role="bind" data-name="label"></p>
  <p data-role="bind" data-name="count"></p>
  <div>
    <button id="btn-close">닫기</button>
    <button id="btn-update">업데이트</button>
  </div>
</div>
