<li{{#if completed}} class="completed"{{/if}}>
    <div class="view">
        <input class="toggle" type="checkbox" {{#if completed}}checked{{/if}}>
        <label data-role="bind" data-type="text" data-name="title" ></label>
        <button class="destroy"></button>
    </div>
    <input class="edit" data-role="bind" data-type="input-text" data-name="title" value="{{title}}">
</li>
