<div>
    <h2>게시판</h2>
</div>

<div>
    <ol class="breadcrumb">
        <li class="active"><a href="#">Home</a></li>
    </ol>
</div>
<div class="container">
	<div data-ref="homeContents">
	<a href="/#posts">글목록</a>
	</div>
</div>