<h1>메인 뷰</h1>
{{#with links}}
<ul>
  <li><a href="{{Layout1Link}}">레이아웃 뷰 1</a></li>
  <li><a href="{{Layout2Link}}">레이아웃 뷰 2</a></li>
  <li><a href="{{Layout3Link}}">레이아웃 뷰 3</a></li>
</ul>
{{/with}}