<h2>메인 1</h2>
<p>첫번째 레이아웃 메인입니다.</p>
{{#with links}}
<ul>
  <li><a href="{{Layout1Content1Link}}">콘텐츠 뷰 1</a></li>
  <li><a href="{{Layout1Content2Link}}">콘텐츠 뷰 2</a></li>
  <li><a href="{{Layout1Content3Link}}">콘텐츠 뷰 3</a></li>
</ul>
{{/with}}