<table class="table table-bordered">
  <colgroup>
    <col width="10%"/>
    <col />
  </colgroup>
  <tr>
    <td>글 아이디</td>
    <td>
      <span>{{id}}</span>
    </td>
  </tr>
  <tr>
    <td>사용자 아이디</td>
    <td>
      <span>{{userId}}</span>
    </td>
  </tr>
  <tr>
    <td>글제목</td>
    <td>
      <span>{{title}}</span>
    </td>
  </tr>
  <tr>
    <td>내용</td>
    <td>
      <span>{{body}}</span>
    </td>
  </tr>
</table>
