<div>
    <h2>게시판</h2>
</div>

<div>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#/posts">게시판 목록</a></li>
        <li class="active"><a href="#/posts/{{id}}"><span data-role="bind" data-name="title" data-type="text"></span></a></li>
    </ol>
</div>
<div>
  <div id="postContent" data-ref="postContent"></div>
  <div id="postComments" data-ref="postComments"></div>
  <div id="postComments2" data-ref="postComments2"></div>
</div>
<button id="btn-back" class="btn btn-default">Back</button>
