<div>
  <select id="sel-depth1" class="form-control form-control-sm" data-role="bind" data-name="depth1" data-type="select">
    <option>test</option>
    <option>test2</option>
  </select>
  <select id="sel-depth2" class="form-control form-control-sm" data-role="bind" data-name="depth2" data-type="select">
  </select>
</div>
<div>
  <p data-role="bind" data-name="selectedMenu" data-type="text"></p>
</div>
<div>
  <label><input id="ckb-sel" type="checkbox"> 전체 선택</label>
  <ul>
    <li><label><input type="checkbox" data-role="bind" data-name="selectAll" data-type="checkbox"> 선택</label></li>
    <li><label><input type="checkbox" data-role="bind" data-name="selectAll" data-type="checkbox"> 선택</label></li>
    <li><label><input type="checkbox" data-role="bind" data-name="selectAll" data-type="checkbox"> 선택</label></li>
    <li><label><input type="checkbox" data-role="bind" data-name="selectAll" data-type="checkbox"> 선택</label></li>
    <li><label><input type="checkbox" data-role="bind" data-name="selectAll" data-type="checkbox"> 선택</label></li>
  </ul>
</div>