<div>
  <select id="sel-depth1" class="form-control form-control-sm">
    <option value="korean" selected>한식</option>
    <option value="chinese">중식</option>
    <option value="western">양식</option>
    <option value="etc">기타</option>
  </select>
  <select id="sel-depth2" class="form-control form-control-sm" data-role="bind" data-name="depth2" data-type="select">
  </select>
</div>
<div>
  <p data-role="bind" data-name="selectedMenu" data-type="text"></p>
</div>