<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="tabs">
                    <li class="active"><a href="#tab01">Home</a></li>
                    <li><a href="#tab02">Profile</a></li>
                    <li><a href="#tab03">Messages</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab01">
                        <table class="table table-bordered">
                            <thead class="thead-default">
                            <tr>
                                <th>업소명</th>
                                <th>업소번호</th>
                                <th>상호명</th>
                                <th>통화수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>맥도날드</td>
                                <td>54321</td>
                                <td>맥도날드 제주도점</td>
                                <td>1358</td>
                            </tr>
                            <tr>
                                <td>맥도날드</td>
                                <td>54321</td>
                                <td>맥도날드 제주도점</td>
                                <td>1358</td>
                            </tr>
                            <tr>
                                <td>맥도날드</td>
                                <td>54321</td>
                                <td>맥도날드 제주도점</td>
                                <td>1358</td>
                            </tr>
                            <tr>
                                <td>맥도날드</td>
                                <td>54321</td>
                                <td>맥도날드 제주도점</td>
                                <td>1358</td>
                            </tr>
                            <tr>
                                <td>맥도날드</td>
                                <td>54321</td>
                                <td>맥도날드 제주도점</td>
                                <td>1358</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab02">
                        <p>탭 컨텐츠 2</p>
                    </div>
                    <div class="tab-pane" id="tab03">
                        <p>탭 컨텐츠 3</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-close">Close</button>
            </div>
        </div>
    </div>
</div>