<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">WoowahanJS</a>
        </div>
        
        <div class="collapse navbar-collapse" data-role="bind" data-name="isLogin" data-type="header">
        </div>
    </div>
</nav>
<div class="content"></div>
