<div style="text-align: right; padding: 10px">
  <button data-ref="btnClose">X</button>
</div>
<div style="text-align: center">
  <h1 data-role="bind" data-name="title"></h1>
  <p data-role="bind" data-name="desc"></p>
</div>