<div>{{title}}</div>
<form name="popup-form" data-ref="popupForm"  data-ref-form-restore="true">
  <div>
    <input name="txt0" data-ref="txt0" type="text" />
    <input name="txt1" data-ref="txt1" type="text" />
    <input name="txt2" data-ref="txt2" type="text" />
  </div>
  <div>
    <button type="submit" data-ref="btnSubmit">Submit</button>
    <button type="button" data-ref="btnCancel">Cancel</button>
  </div>
</form>