<h1>서브 2 페이지</h1>
<div class="content"></div>
<ul>
    <li><a href="/">메인 페이지</a></li>
    <li><a href="#sub1">서브 1페이지</a></li>
    <li>
        <a href="#sub2">서브 2페이지</a>
        <ul>
            <li><a href="#sub2_2">서브 2-2페이지</a></li>
        </ul>
    </li>
</ul>