<div class="container">
    <h1>뷰의 DOM 참조</h1>

    <div class="alert alert-success" role="alert" data-role="ref" data-ref-name="alertMessage">이 메세지가 보이나요? 토글 버튼을 눌러 사라지게 해 보세요.</div>

    <input type="text" class="form-control" data-role="ref" data-ref-name="text1">
    <input type="text" class="form-control" data-role="ref" data-ref-name="text2" data-ref-restore="true">

    <select class="form-control" data-role="ref" data-ref-name="rgb" data-ref-restore="true">
        <option value="">전체</option>
        <option value="r">Red</option>
        <option value="g">Green</option>
        <option value="b">Blue</option>
    </select>

    <div class="form-group">
        <input type="radio" class="form-contorl" name="cmyk" data-role="ref" data-ref-group="cmyk" value="c">
        <input type="radio" class="form-contorl" name="cmyk" data-role="ref" data-ref-group="cmyk" value="m">
        <input type="radio" class="form-contorl" name="cmyk" data-role="ref" data-ref-group="cmyk" value="y">
        <input type="radio" class="form-contorl" name="cmyk" data-role="ref" data-ref-group="cmyk" value="k">
    </div>

    <button type="button" class="btn btn-default btn-toggle">Toggle</button>
    <button type="button" class="btn btn-default btn-update-view">Update View</button>

    <a href="/#/other" class="btn btn-default btn-toggle">다른 뷰</a>
</div>
