html, body {
  margin: 0; padding: 0;
}

.modal-overlay {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#000;
  opacity:0.7;
}

.modal-box {
  overflow-y:scroll;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  width:80%;
  max-height:80%;
  background:#fff;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  z-index:1000;
}
